.main-section{
    /* background-image: url(../images/banner.png); */
   min-width: 100%;
   /* min-height: 50rem; */

background-repeat: no-repeat;
}
.font-Raleway{
    font-family: "Raleway";
}
.inter{
    font-family: "Inter", sans-serif;
}
.card{
    width: 565px;
    display: flex;
}